stages:         
  - test
  - build

variables:
 REGISTRY_HOSTNAME: gcr.io/pintu-sre

test-nodejs:
  image: node:14-alpine
  stage: test
  before_script:
   - cd nodejs
  script:
   - npm ci 
   - npm test 

test-golang:
  image: golang:1.18
  stage: test
  before_script:
   - cd golang
  script:
   - go mod download 
   - go test 
   
# build-nodejs:
#   image: docker:latest         
#   stage: build
#   services:
#     - docker:dind
#   before_script:
#    - docker info
#    - echo "$SERVICE_ACCOUNT_KEY" > service-account.json
#    - docker login -u _json_key --password-stdin https://gcr.io < service-account.json
#   script:
#    - docker build --tag $REGISTRY_HOSTNAME/nodejs-taskapp:$CI_COMMIT_SHORT_SHA ./nodejs
#    - docker push $REGISTRY_HOSTNAME/nodejs-taskapp:$CI_COMMIT_SHORT_SHA

